.b3{
	background-image:url(Pic10.jpg);
}

.navContainer{
	max-width: 1000px;
	position: relative;
	margin: auto;
}

.mainDiv {
	background-image:url(Pic7.jpg);
    max-width: 1000px;
    height: 650px;
	position: relative;
	margin: auto;
}